<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TuturTataKata</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-amber-50 font-sans">
    <div class="max-w-5xl mx-auto px-6 py-12">
        <div class="flex flex-col items-center gap-4 mb-10">
            <h1 class="font-serif text-6xl text-amber-900 mb-2">Tutur Tata Kata</h1>
            
            <form action="/" method="POST" class="flex gap-2">
                <input type="text" name="keyword" autocomplete="off" 
                    class="border border-stone-300 rounded-lg px-4 py-2 w-72 
                            focus:ring-2 focus:ring-amber-700 focus:border-amber-700 
                            bg-white shadow-inner text-lg"
                    placeholder="Cari kata di ruang baca...">
                <button type="submit" 
                        class="bg-amber-800 text-white px-5 py-2 rounded-lg 
                            font-medium shadow hover:bg-amber-900 transition text-lg">
                    Cari
                </button>
            </form>
            
            <a href="/random" 
            class="text-amber-900 hover:text-amber-700 font-medium 
                    text-lg underline underline-offset-4">
            Coba Kata Acak
            </a>
        </div>
        {% if keyword %}
        <div class="bg-white p-8 rounded-2xl shadow-lg border border-stone-200 
            w-full max-w-5xl text-justify mb-4">
            <h2 class="text-3xl font-serif font-semibold text-stone-900 mb-1">
                {{ keyword }}
            </h2>
            <!-- <p class="text-stone-500 italic mb-6">Nomina (Kelas Kata)</p> -->
            
            <ol class="list-decimal list-inside space-y-3 text-lg leading-relaxed">
                {% for definition in definitions %}
                    <li>{{ definition }}</li>
                {% endfor %}
            </ol>
        </div>

        <div class="bg-white p-8 rounded-2xl shadow-lg border border-stone-200 
            w-full max-w-5xl text-left">
            <h3 class="text-xl font-semibold text-stone-800 mb-5">Sinonim / Kata Relevan</h3>
            
            <ul class="grid grid-cols-1 md:grid-cols-2 gap-x-6 gap-y-4 text-lg">
                {% for relevan in relations %}
                <li class="flex items-center justify-between gap-4 p-3 bg-stone-50 rounded-lg">
                    <span>{{ relevan }}</span>
                    
                    <button class="btn-definisi text-sm text-emerald-800 border 
                                border-emerald-800 px-3 py-1 rounded-md 
                                hover:bg-emerald-50 transition"
                            data-kata="{{ relevan }}" id="{{ loop.index }}">
                        definisi
                    </button>
                </li>
                <div id="def-{{ loop.index }}" class="col-span-1 md:col-span-2 text-justify 
                                                text-stone-600 hidden bg-stone-100 p-4 
                                                rounded-md mt-1">
                    </div>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>

</body>
</html>

<script>
    button_definisi = document.querySelectorAll(".btn-definisi");
    button_definisi.forEach((kata) => {
        kata.addEventListener("click", async()=>{
            let namaKata = kata.dataset.kata;
            let idKata = kata.id;
            response = await fetch('/api/definisi/' + namaKata);
            definisi = await response.json();
            document.getElementById("def-"+idKata).innerHTML = definisi.join("<br>");
            document.getElementById("def-"+idKata).classList.toggle("hidden");
        })
    })
</script>